<nav class="navbar navbar-expand-lg navbar-light bg-light wide">

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-item nav-link active" href="#">Home <span class="sr-only">(current)</span></a>
            <a class="nav-item nav-link" href="/saved">Saved Articles</a>
            <button type="button" class="btn btn-secondary" id="scrape-btn">
                Scrape Recent Articles
            </button>
        </div>
    </div>
</nav>

<div class="container-fluid">

    <br>
    <div class="row title-box">
        <h2 class="title">The Daily Galaxy</h2>
    </div>
    <br>
    <div class="row">

        <div class="col" id="art-box">

            {{#each article}}
            {{#unless saved}}
            <div class="card art-block " style="width: 18rem;">
                <a href="https://www.space.com/{{link}}">
                    <div class="card-body">

                        <h4 class="card-title">{{title}}</h1>
                            <img class="card-img-top" src={{photo}} alt="Card image cap">
                            <h6>{{summary}}</h6>

                            <br>
                            <a class="btn btn-primary save-btn" ident={{_id}}>Save</a>
                    </div>
                </a>
            </div>
            {{/unless}}
            {{/each}}


        </div>

    </div>

</div>