<div class="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-item nav-link active" href="/home">Home <span class="sr-only">(current)</span></a>
                <a class="nav-item nav-link" href="#">Saved Articles</a>
                <button type="button" class="btn btn-secondary" id="scrape-btn">
                    Scrape Recent Articles
                </button>
            </div>
        </div>
    </nav>
    <div class="row">
        <div class="col">

        </div>

    </div>
    <div class="row">
        <h2>Saved Articles</h2>
        <div class="col" id="art-box">
            <div class="card art-block" style="width: 18rem;">

                <div class="card-body">
                    
                    {{#each article}}
                    {{#if saved}}
                    <h4 class="card-title">{{title}}</h4>
                    <img class="card-img-top" src={{photo}}>
                    <h6>{{summary}}</h6>
                      <a class="card-text" href="https://www.space.com/{{link}}">Read More >></a>
                    <br>
                    <button type="button" class="btn btn-primary unsave-btn" ident={{_id}}>Remove from Saved</button>
                    <button type="button" class="btn btn-danger view-note-btn" ident={{_id}}>View Notes</button>


                    <!-- Modal -->
                    <div class="modal fade" id={{_id}} tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
                        aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalCenterTitle">Article Notes</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body" id="responseArea">
                                    <div class='notes{{_id}}'>



                                    </div>
                                    <textarea rows="4" cols="50" id="note-area" class={{_id}} placeholder="Write your note here"></textarea>

                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary add-note-btn" data-dismiss="modal"
                                        ident={{_id}}>Add Note</button>
                                    <button type="button" class="btn btn-secondary close-btn" data-dismiss="modal"
                                        ident={{_id}}>Close</button>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            {{/if}}
            {{/each}}

        </div>
    </div>
    <div class="row">
        <div class="col">



        </div>

    </div>
</div>